<div class="row">
    <div class="large-6 large-offset-3 columns">
        <div class="panel">
            <h3>Welcome to Reading List</h3>
            <p>Please login below or <%= link_to "sign up!", new_user_path %></p>
            <%= form_for(:session, url: login_path) do |f| %>
                <%= f.label :email  %>
                <%= f.email_field :email  %>
                <%= f.label :password %>
                <%= f.password_field :password  %>
                <%= f.submit "Login", class: "button"  %>
            <% end %>
        </div>
    </div>
</div>
